<ng-container
  *ngIf="
    data && data.main && data.weather && data.weather.length > 0 && data.sys
  "
>
  <h2 class="location">{{ data.name + ", " + data.sys.country }}</h2>
  <div>Current weather</div>
  <div class="row-container">
    <div class="detail">
      <h2>{{ data.main.temp | number: "0.0-0" }} &#8451;</h2>
      <div class="secondary">
        Feels like {{ data.main.feels_like | number: "0.0-0" }} &#8451;
      </div>
      <h3>{{ data.weather[0].main }}</h3>
      <div class="secondary">{{ data.weather[0].description }}</div>
    </div>
    <div class="img-container">
      <img
        alt="weather icon"
        width="50"
        height="50"
        [src]="data.weather[0].icon | codeToIconUrl"
      />
    </div>
  </div>
  <div class="row-container">
    <div class="detail separated">
      <span class="detail-label secondary">Humidity</span>
      <span>{{ data.main.humidity }} %</span>
    </div>
    <div class="detail separated">
      <span class="detail-label secondary">Wind speed</span>
      <span>{{ data.wind.speed }} m/s</span>
    </div>
  </div>
  <div>{{ data.dt * 1000 | date: "medium" }}</div>
</ng-container>
