@import "variables";

h2,
h3 {
  margin-bottom: 0;
}

.location {
  display: block;
  position: relative;
  padding: 0.2em 0;
  width: fit-content;
}

.location::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: $color-primary;
  animation: animate 2s ease-out;
}

@keyframes animate {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.secondary {
  color: $color-secondary;
}

.row-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.img-container {
  margin: auto;
  padding: 5px;
  background-color: $color-secondary;
}

.detail {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.separated:nth-of-type(1) {
  border-right: 1px solid grey;
}

.separated:nth-of-type(2) {
  margin-left: 1rem;
}

.detail-label {
  font-size: small;
  text-transform: uppercase;
}
