<main>
  <h1>Weather App</h1>
  <div>
    <label for="location">Location</label><br />
    <input type="text" id="location" [(ngModel)]="locationString" />
    <button (click)="loadWeatherData()">get</button>
  </div>

  <div *ngIf="weatherData$ | async as data; else noDataTemplate">
    <app-weather-display [data]="data"></app-weather-display>
  </div>
  <ng-template #noDataTemplate>
    <h2 *ngIf="errorMsg; else loadingTemplate">Error: {{ errorMsg }}</h2>
    <ng-template #loadingTemplate>
      <h2>Loading Weather Data..</h2>
    </ng-template>
  </ng-template>
</main>
