@import "variables";

main {
  max-width: 350px;
  min-height: 550px;
  margin: auto;
  padding: 4rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background-color: #48484a;
  color: white;
}

h1 {
  color: $color-primary;
}

label {
  color: $color-secondary;
}

input {
  height: 30px;
}

button {
  border-radius: 0 10px 10px 0;
  height: 36px;
  text-transform: uppercase;
  background-color: transparent;
  color: #e96e50;
  border: 2px solid #e96e50;
  cursor: pointer;
}
